---
export interface Props {
	src: string;
}

const { src } = Astro.props;
---

<li class="link-card">
	<img src={src} />
</li>

<style>
	.link-card {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.5rem;
		/* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); */
		overflow: hidden;
	}
	img{
		width: 200px;
		transition: 0.3s;
	}
	.link-card img:hover{
		transform: scale(120%);
	}
</style>
